.profile__description{
  max-width: 450px;
  margin: 0;
  font-family:Inter, serif, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 681px) and (max-width:900px) {
  .profile__description{
    max-width: 294px;
  }
}
@media screen and (min-width: 320px) and (max-width:681px) {
  .profile__description{
    max-width: 189px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}